{% extends "layout.html" %}

{% block body %}
            <!--Insert line break-->
            <hr class="solid">
            <!--Scroll Snap Start-->
            <div class="parent">
                <!--First element within scroll snap-->
                <li class="snap">
                    <!--Individual containers within each scroll snap element with transition style classes-->
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <!--Title with text-->
                                <div class="hide_title">
                                    <h1 class = "title">About Me</h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Image-->
                        <div class="container_outer_img">
                            <img src='../static/images/BC_Selfie.jpg'  alt="" class="container_img"/>
                        </div>
                    </div>
                </li>
                <!--Each future iteration of the element is slightly altered for style, but largely the same format-->
                <li class="snap">
                    <div class= 'container off'>
                        <div class="container_outer_img">
                            <img src='../static/images/australia.jpg'  alt="" class="container_img picture_resize"/>
                        </div>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="hide_title">
                                    <h1 class = "title">Computer Science</h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="snap">
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="hide_title">
                                    <h1 class = "title">Hobbies</h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container_outer_img">
                            <img src='../static/images/aerok.jpg'  alt="" class="container_img picture_resize"/>
                        </div>
                    </div>
                </li>
                <li class="snap">
                    <div class= 'container off'>
                        <div class="container_outer_img">
                            <img src='../static/images/cowboyhat.jpg'  alt="" class="container_img picture_resize"/>
                        </div>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="hide_title">
                                    <h1 class = "title">Young</h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container_content">
                            <img src='../static/images/piano.jpg'  alt="" class="container_img picture_resize"/>
                            <img src='../static/images/theatre.jpg'  alt="" class="container_img picture_resize"/>
                        </div>
                    </div>
                </li>
                <li class="snap">
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="hide_p">
                                    <p class="p">
                                        Enjoy a picture of my dogs!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container_outer_img">
                            <img src='../static/images/jamie_ari.jpg'  alt="" class="container_img picture_resize"/>
                        </div>
                    </div>
                </li>

{% endblock %}