{% extends "layout.html" %}

{% block body %}

            <!--Insert line break-->
            <hr class="solid">
            <!--Scroll Snap Start-->
            <div class="parent">
                <!--First element within scroll snap-->
                <li class="snap">
                    <!--Individual containers within each scroll snap element with transition style classes-->
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <!--Title with text-->
                                <div class="hide_title">
                                    <h1 class = "title">Tetris</h1></h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Image-->
                        <div class="container_outer_img">
                            <video width="500" autoplay loop>
                                <source src="../static/mp4/tetris.mp4" type="video/mp4">
                                Your browser does not support the video tag. <!-- Text to be shown incase browser doesnt support html5 -->
                            </video>
                        </div>
                    </div>
                </li>
                <!--Each future iteration of the element is slightly altered for style, but largely the same format-->
                <li class="snap">
                    <div class= 'container off'>
                        <div class="container_outer_img">
                            <video width="500" autoplay loop>
                                <source src="../static/mp4/pong.mp4" type="video/mp4">
                                Your browser does not support the video tag. <!-- Text to be shown incase browser doesnt support html5 -->
                            </video>
                        </div>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="hide_title">
                                    <h1 class = "title">Pong</h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="snap">
                    <div class= 'container'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="hide_title">
                                    <h1 class = "title">Snake</h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="container_outer_img">
                            <video width="500" autoplay loop>
                                <source src="../static/mp4/snake.mp4" type="video/mp4">
                                Your browser does not support the video tag. <!-- Text to be shown incase browser doesnt support html5 -->
                            </video>
                        </div>
                    </div>
                </li>
                <li class="snap">
                    <div class= 'container off'>
                        <div class="container_content">
                            <div class="container_content_inner">
                                <div class="hide_title">
                                    <h1 class = "title">Website</h1>
                                </div>
                                <div class="hide_p">
                                    <p class="p">
                                        Cupiditate alias odio omnis minima veritatis saepe porro, repellendus natus vitae, sequi exercitationem ipsam, qui possimus sit eveniet laborum sapiente quisquam quae neque velit?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

<script>
function autoscroll() {
    window.scrollTo(0, 50)
}
</script>


{% endblock %}